In [2]:
import pandas as pd

In [19]:
#df = pd.read_csv("D:\Excel-files\stock_data.csv",header=None)     -for header is none
#df = pd.read_csv("D:\Excel-files\stock_data.csv",header=1)  ---  1 row make header
#df = pd.read_csv("D:\Excel-files\stock_data.csv",header=2)  --- row make header
#df = pd.read_csv("D:\Excel-files\stock_data.csv",header=None,names=['firstcol','secondcol','thirdcol','fourthcol'])  --- make
# --- column name by yourself ------
#df = pd.read_csv("D:\Excel-files\stock_data.csv",nrows=3)    --how much row u wanna take
#df = pd.read_csv("D:\Excel-files\stock_data.csv",na_values=['not available','n.a.'])  -- to fill the column value instead of given value
#df = pd.read_csv("D:\Excel-files\stock_data.csv",na_values={
#  'eps':['not available','n.a.'],
#   'revenue':['not available','n.a.',-1],
#  'people':['not available','n.a.']   ---  removing the values by customize way
df = pd.read_csv("D:\Excel-files\stock_data.csv",na_values={
    'eps':['not available','n.a.'],
    'revenue':['not available','n.a.',-1],
    'people':['not available','n.a.']
})
df

  tickers    eps  revenue         people
0  google  27.82     87.0     larry page
1     wmt   4.61    484.0            NaN
2    msft  -1.00     85.0      bill gate
3     fil    NaN     50.0  mukesh ambani
4    tata   5.60      NaN     ratan tata

# Practice

In [ ]:
#df = pd.read_csv("D:\Excel-files\stock_data.csv",header=None)     -for header is none
#df = pd.read_csv("D:\Excel-files\stock_data.csv",header=1)  ---  1 row make header
#df = pd.read_csv("D:\Excel-files\stock_data.csv",header=2)  --- row make header
#df = pd.read_csv("D:\Excel-files\stock_data.csv",header=None,names=['firstcol','secondcol','thirdcol','fourthcol'])  --- make
# --- column name by yourself ------

In [23]:
df.to_csv('new.csv',index=False)

In [37]:
def cell_converter(cell):
    if cell=='n.a.':
       return 'sam walton'
    return cell

In [39]:
pg=pd.read_excel("D:\Excel-files\stock_data.csv",convertors={
    'peopel': cell_convertor
})
pg.head(5)

NameError: name 'cell_convertor' is not defined